.come-work-with-us-section h1,
.come-work-with-us-section p {
  color: #fff;
}

.come-work-with-us-section h1 {
  font-size: 80px;
}

.come-work-with-us-section p {
  font-size: 60px;
}

.why-join-us-section p {
    font-size: 20px;
}

.why-join-us-section h3 {
    text-transform: uppercase;
}

@media (max-width: 768px) {
  .come-work-with-us-section h1 {
    font-size: 60px;
  }

  .come-work-with-us-section p {
    font-size: 40px;
  }
}